.plancard-wrapper {
  display: flex;
  padding: 40px;
  // flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  border-radius: 24px;

  .plan-card-container {
    width: 374px;
    // display: flex;
    padding: 40px;
    // justify-content: center;
    align-items: flex-start;
    background-color: #1a161f;
    border-radius: 24px;
    border: 1px solid #29282f;

    .divider {
      margin: 32px 0;
    }
    .plan-price {
      margin-top: 10px;
      .price-text {
        font-size: 40px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 0.2px;
      }
      .month-text {
        color: #9ca4ab;
        font-weight: 600;
        letter-spacing: 0.08px;
      }
    }
  }

  .plan-text-container {
    margin-top: 10px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.08px;

    .plan-text {
      display: flex;
      width: 290px;
      align-items: flex-start;
      gap: 19px;
      margin: 10px 0;
    }
    .plan-text-gray {
      color: #66707a;
    }
  }
  .button {
    padding: 16px 32px;
    flex: 1 0 0;
    border-radius: 24px;
    border: 1px solid #b43feb;
    background-color: transparent;
    color: #b43feb;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.09px;
    display: flex;
    width: 294px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  .monthly-plan {
    background: #b43feb;

    .button-monthly {
      color: #f9f9f9;
      border: 1px solid #f9f9f9;
    }
  }
}
