@import "./variable";
/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// html {
//   //10 px === 1rem (10px/16px)
//   // font-size: 62.5%;
// }

body {
  font-family: "Inter", sans-serif;
  // height: 100%;
  // min-height: 100vh;
  color: $text-primary;
  // max-width: 400px;
}

ul,
li {
  list-style: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
