$primary-color: #b43feb;
$secondary-color: #0d0c0f;
$black-light: #1a161f;
// $text-secondary: #4d5b7c;

$text-primary: #f9f9f9;
$text-secondary: #78828a;
// $title-text: #f9f9f9;
$text-gray: #9ca4ab;

$black: #000;
$white: #fff;

$border-color: #c0c2c3;
$input-border-color: #29282f;
$background-red: #ec6083;
