@import "../../styles//variable";

.ant-form-item-label {
  > label {
    line-height: 2.4rem;
    font-size: 1.4rem;
    color: $text-secondary;
    letter-spacing: 0.1rem;
  }
}
.ant-input,
.ant-input-password {
  line-height: 2.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  background-color: transparent;
  border-color: $input-border-color;
  border-radius: 1.6rem;
  color: $text-secondary;
  // padding: 1rem;
}
.ant-input-password-icon {
  color: $text-primary;
}
