@import "../../styles/variable";

.reset-password-section {
  background-color: $black-light;
  font-size: 20px;
  color: $text-primary;
  height: 100vh;
  .header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    height: 72px;
  }
  .reset-password-container {
    display: flex;
    justify-content: center;
    // justify-items: center;
    // flex-f low: column;
    align-items: center;
    // width: auto;
    margin-top: 150px;
    .sub-headig {
      font-size: 16px;
      color: $text-gray;
      margin-top: 14px;
      text-align: center;
    }
    .form-container {
      width: 500px;
      h2 {
        text-align: center;
      }
      .form-field {
        font-size: 14px;
        color: #78828a;
        // .label-text {
        //   margin: 20px 0 14px;
        // }
        // .input-field {
        //   border-radius: 24px;
        //   padding: 12px;
        //   width: 100%;
        //   color: $text-gray;
        //   background: #1a161f;
        //   border: 2px solid #29282f;
        // }
        .reset-button {
          margin-top: 24px;
        }
      }
    }
  }
}
